<div>
  <h2>User info</h2>
  <%= image_tag @customer.get_profile_image(100, 100) %>
  <%= @customer.name %>
  <div>
    <%= link_to my_page_edit_path do %>
      <i class="bi bi-gear-fill"></i>
    <% end %>
  </div>
</div>